<!-- Generated template for the HeaderMenuComponent component -->
<div>
  <ion-list>
    <div class="container">
      <img src="assets/bg.jpg" class="someClass"/>
      <div class="bottom-right">{{this.email}}</div>
    </div>
    <ion-item (click)="helpClicked()">
      <ion-icon name="help" item-start></ion-icon>
      Help
    </ion-item>
    <ion-item (click)="aboutusClicked()">
      <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
      About Us
    </ion-item>
    <ion-item (click)="logoutClicked()">
      <ion-icon name="lock" item-start></ion-icon>
      Logout
    </ion-item>
  </ion-list>
</div>
